MONGODB_URI=mongodb+srv://<username>:<password>@cluster.mongodb.net/smart-blood-bank
JWT_SECRET=replace-with-strong-access-secret
JWT_REFRESH_SECRET=replace-with-strong-refresh-secret
NODEMAILER_EMAIL=your_email@gmail.com
NODEMAILER_PASSWORD=your_app_password
CLOUDINARY_CLOUD_NAME=hfssghsg4545
CLOUDINARY_API_KEY=5564611398764448
CLOUDINARY_API_SECRET=ndknfklnfnlkenklne
CLIENT_URL=http://localhost:5173
PORT=5000

